<nav class="sheet-tabs tabs" data-group="{{group}}">
  {{#each tabs}}
  <a class="item {{cssClass}}" data-action="tab" data-group="{{group}}" data-tab="{{id}}">
    <i class="{{icon}}"></i>
    <span>{{localize label}}</span>
  </a>
  {{/each}}
</nav>
